.lens {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  box-sizing: border-box;
  transform: translate3d(195px, 195px, 0);
}

.mouseDown {
  cursor: pointer;
}

.label {
  font-size: 14px;
  color: #717070;
}

.colorCategoryContainer {
  margin: 0 5px;
}

.colorCategory {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.11) 0 1px 1px 1px;
}

.container {
  border: 10px solid whitesmoke;
  width: 180px;
  height: 180px;
  position: relative;
}

.inner {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white, rgba(0, 0, 0, 0));
}

.outer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    red
  );
}
