.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.container {
  flex: 1;
  overflow: auto;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  box-shadow: inset #a7a7a7 0 1px 1px;
}

.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.usbErrorWebHIDLink {
  text-decoration: underline;
}

*:focus {
  outline: none;
}
