.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.container {
  flex: 1;
  overflow: auto;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  box-shadow: inset #a7a7a7 0 1px 1px;
}

.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.usbError {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.usbErrorIcon {
  font-size: 2rem;
}

.usbErrorHeading {
  margin: 1rem 0 0;
}

.usbErrorWebHIDLink {
  text-decoration: underline;
}

*:focus {
  outline: none;
}
