.layerControl {
  height: 35px;
  background: #4c4a4a;
  text-align: center;
  width: 125px;
  border-radius: 4px;
  flex-direction: row;
  display: flex;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #dddfe0;
  color: #dddfe0;
  width: 22px;
  line-height: 8px;
  height: 22px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}

.label {
  display: inline-block;
  padding: 0 5px;
  color: #dddfe0;
  flex: 1;
  font-size: 14px;
}

.hideLayer,
.hideLayer .button {
  opacity: 0;
  cursor: default;
}
